<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../contrast-bootstrap-pro/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../contrast-bootstrap-pro/css/cdb.css" />
    <script src="../contrast-bootstrap-pro/js/cdb.js"></script>
    <script src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9d1d9a82d2.js" crossorigin="anonymous"></script>
    <style>
        .chart-container {
            width: 70%;
            height: 50%;
            margin: auto;
        }
        h1{
            font-size: 3em;
            font-family: Roboto;
            color:#379237;
        }
        p{
            font-size: 2em;
            font-family: Roboto;
            
        }
        h5{
            font-size: 2.5em;
            font-family:Sono;
            color:#00022e;
        }
        .picpara{
            font-size: 2em;
            font-family: Roboto; 
            color:#00022e;

        }
    </style>
</head>

<body style="background:  #EDE4E0;">
  <nav class="navbar" style="background:#FF9551">
      <div class="container-fluid" >
          <div class="navbar">
          </div>
          <div class="d-flex align-items-center ">
                <a href="login"><button type="button" class="btn btn-success  me-2"> sign in </button></a>
                <a href="registration"><button type="button" class="btn btn-success me-2 "> sign up</button> </a>
               
          </div>
      </div>
  </nav>
  
  <div style="margin-top:10px;">
      <div class="container-sm center mb-4 ">
          <div class="jumbotron text-center ">
              <h1>Xpendee</h1>
              <p> Track spending in best way </p>
          </div>
      </div>
      
      <div class="container-sm  border border-success center border border-2 mb-4">
        <div id="poster" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#poster" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#poster" data-bs-slide-to="1"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/images/pic1.png" alt="pic1" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><strong>SIMPLE UI</strong></h5>
                        <p class="picpara"><strong>Easy to use and easy to manage</strong></p>
                      </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/images/pic3.png" alt="pic2" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><strong>Scalable Charts</strong></h5>
                        <p class="picpara"><strong>Track effectively using xpendee</strong></p>
                      </div>
                </div>
               
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#poster" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#poster" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
      <div class="container-sm center mb-4 ">
          <div class="d-grid gap-2 col-6 mx-auto py-3 ">
             <center> <a href="login"><button class="btn btn-success btn-lg" type="button">SIGN IN</button></a></center>
             <center><a href="registration"><button class="btn btn-success btn-lg" type="button">SIGN UP</button></a></center>
          </div>
      </div>
      <div class="container-sm  center mb-4 ">
          <div class="jumbotron">
              <h1> Why to use Personal Expense Tracker:</h1>
              <p>In xpendee, we enable people make <strong>smart decisions about their money every day.</strong></p>
              <p>*  We believe that managing finance should be as effortless as shopping online. It should be done anytime, anywhere and in few clicks.</p>
          </div>
      </div>


          
</body>
<footer class="mt-4">
 <h3>@copy right <br>
    version 0.1(Beta)
 </h3>
</footer>
</html>